$boxSize: 60px;

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: calc(#{$boxSize} * 10);
    max-height: calc(#{$boxSize} * 10);

    display: flex;
    flex-wrap: wrap;
}

.wrapper_medium {
    margin: 0 auto;
    max-width: calc(#{$boxSize} * 15);
    max-height: calc(#{$boxSize} * 15);

    display: flex;
    flex-wrap: wrap;
}

.wrapper_hard {
    margin: 0 auto;
    max-width: calc(#{$boxSize} * 25);
    max-height: calc(#{$boxSize} * 25);

    display: flex;
    flex-wrap: wrap;
}

.welcome {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: calc(50% - 250px);
    left: calc(50% - 350px);
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    &__message {
        font-size: 40px;
        text-align: center;
    }
    &__button {
        margin-top: 30px;
        padding: 20px 30px;
        font-size: 20px;
        background-color: black;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: gray;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    &__1 {
        color: blue
    };
    &__2 {
        color: green
    };
    &__3 {
        color: red;
    };
    &__4 {
        color: darkblue;
    };
    &__5 {
        color: brown;
    };
    &__6 {
        color: aqua;
    };
    &__7 {
        color: black;
    };
    &__8 {
        color: white;
    }
    &__start {
        border: 4px solid black;
        background-color: darkslategrey;
        border-style: outset;
        cursor: pointer;
        font-size: 0;
        .bomb__ico {
            width: 0;
            height: 0;
        }
    }
}

.bomb__ico {
    height: 50px;
    width: 50px;
}

.flag__ico {
    height: 50px;
    width: 50px;
}

.overflow-hidden {
    overflow: hidden;
}

.win {
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    opacity: 85%;
    width: 400px;
    height: 300px;
    border-radius: 2%;
    justify-content: space-around;
    align-items: center;
    &__message {
        text-align: center;
        color: red;
        font-size: 50px;
        &_green {
            color: green;
        }
    }
    &__question {
        font-size: 30px;
        color: greenyellow;
    }
    &__button {
        background-color: black;
        color: white;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
    }

}

.hudline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color:black;
    &__flagCounter {
        color: white;
    }
    &__bombCounter {
        color: white;
    }
    &__restart {
        background-color: grey;
        color: white;
        padding: 3px;
        border-radius: 8%;
        cursor: pointer;
    }
}