h1,h2, p { 
    margin: 0;
}
@font-face {
    font-family: 'Arial';
    src: url('Arial-Black.woff2') format('woff2'),
        url('Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldMT.woff2') format('woff2'),
        url('Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-Italic.woff2') format('woff2'),
        url('ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-ItalicMT.woff2') format('woff2'),
        url('Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldItalicMT.woff2') format('woff2'),
        url('Arial-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-Bold.woff2') format('woff2'),
        url('ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow.woff2') format('woff2'),
        url('ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia-Italic.woff2') format('woff2'),
        url('Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia-Bold.woff2') format('woff2'),
        url('Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia-BoldItalic.woff2') format('woff2'),
        url('Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
  }

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.wrapper__intro {
    background:  radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}

.button-bordered {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    box-sizing: border-box;
}

.button-colored {
    background: #F1CDB3;
    border-radius: 100px;  
    border: none;
}

/* Header */

.header {
    padding-top: 30px;
    background-image: url(../img/noise.png);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    &__title {
        color: #F1CDB3;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0.06em;
        margin-bottom: 10px;
    }
    &__subtitle {
        display: flex;
        color: #FFFFFF;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        align-self: center;
    }
}

.logo__link {
    text-decoration: none;
}

.navigation {
    display: flex;
    list-style-type: none;
    padding: 0;
    
}
.navigation__link {
    margin-left: 35px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    :hover {
        cursor: pointer;
        color: #FAFAFA;
        transition: all 1s;
    }
    &:first-child {
        margin-left: 0;
        border-bottom: #F1CDB3 3px solid;
    }
    a {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #CDCDCD;
        text-decoration: none;
    }
    
}

/* Not only */

.not-only__wrapper {
    display: flex;
}

.not-only {
    background-image: url(../img/noise.png);
    padding-top: 90px;
    margin: 0 auto;
}

.not-only__content {
    padding-right: 42px;
    padding-top: 163px; 
}

.not-only__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    margin-bottom: 42px;
    color: #FFFFFF;
    padding-right: 150px;
}

.not-only__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    margin-bottom: 42px;
}

.not-only__button {
    padding: 15px 45px;
    a{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #292929;
        text-decoration: none;
    }
    
    &:hover {
        cursor: pointer;
        background: #FDDCC4;
        transition: all 1s;
    }
}

/* About */
.about__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__image {
    padding-left: 175px;
}

.about__content {
    max-width: 430px;
    padding: 14px 175px 14px 0;
}

.about__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    padding-right: 80px;
    color: #545454;
    padding-bottom: 25px;
    letter-spacing: 0.06em;
}

.about__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
}

.about__text-first {
    padding-bottom: 25px;
}

/* Our friends */
.our-friends {
    background-color: #F6F6F6;
}

.our-friends__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
}

.our-friends__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

.our-friends__slider {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.change-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 192px;
    &:hover {
        cursor: pointer;
        background: #FDDCC4;
        transition: all 1s;
    }
}

.ico__arrow {
    width: 14px;
    height: 6px;
}


.slides-content {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.pet-card {
    background-color: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 30px;
    &:hover {
        .pet-card__button {
            cursor: pointer;
            background: #FDDCC4;
            transition: all 1s;
        } 
    }
}

.pet-card__img {
    width: 270px;
    height: 270px;
}

.pet-card__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.pet-card__button {
    display: block;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    background-color: #FAFAFA;
    color: #292929;
    padding: 14px 43px;
    margin: 0 auto;
    
}

.our-friends__button {
    padding: 15px 45px;
    display: block;
    margin: 0 auto;
    a {
        text-decoration: none;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #292929;
    }
    &:hover {
        cursor: pointer;
        background: #FDDCC4;
        transition: all 1s;
    }
}

/* Help */

.help__wrapper {
    margin-top: 80px;
    margin-bottom: 100px;
}

.help__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding-bottom: 60px;
}

.pet-items__content {
    max-width: 1026px;
    height: 281px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 119px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.second-row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 84%;
}

.pet-items__item {
    text-align: center;
}

.pet-items__img {
    width: 60px;
    height: 60px;
}

.pet-items__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 26px;
}

/* In addittion*/
.in-addition {
    background-color: #F6F6F6;
}

.in-addittion__wrapper {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 80px 182px 100px 183px;
    display: flex;
}

.in-addition__img {
    padding-top: 11px;
    padding-bottom: 10px;
}

.in-addition__content {
    padding-left: 30px;
}

.in-addition__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 20px;
}

.in-addition__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 20px;
}

.in-addition__card {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-right: 31px;
    &:hover {
        cursor: pointer;

    }
}

.in-addition__card-number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    
}

.in-addition__warning {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 20px;
}

/* Footer */

.footer {
    background-image: url(../img/noise.png);
}

.footer__wrapper {
    padding-top: 40px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    padding-top: 16px;
}

.footer__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.column__line {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}

.email, .phone{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    align-self: center;
    
}

.footer__contacts-mail {
    padding-right: 27px;
}

.footer__contacts-phone {
    padding-right: 39px;
}


.footer__addresses {
    max-width: 302px;
}

.location {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-left: 20px;
    align-self: center;
}

.footer__address {
    padding-top: 34px;
    justify-content: flex-start;
}





.pets__header {
    background: #FFFFFF;
    padding-bottom: 30px;
}

.pets__logo__title {
    color: #545454;
}

.pets__logo__subtitle {
    color: #292929;
}

.pets__navigation__link {
    a{
        color: #545454;
        &:hover {
            color: #292929;
        }
    }
    
}

.pets__navigation__link {
    &:first-child {
        border-bottom: none
    }
}

.pets__navigation__link-active {
    border-bottom: #F1CDB3 3px solid;
    color: #292929;
}

.pets__slider {
    padding-bottom: 60px;
}

.pets__slides-content {
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

.pets__slides-bar {
    justify-content: space-between;
    max-width: 340px;
    margin: 0 auto;
    display: flex;
}

.first, .one-prev, .now, .one-next, .last {
    margin-top: 0;
}


.now {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #292929;
    align-items: center;
    background: #F1CDB3;
}


@media screen and (min-width:320px) and (max-width:1268px) {
    .wrapper {
        padding: 0 100px;
    }

    .header__wrapper {
        padding: 0 30px;
    }

    .logo__subtitle {
        justify-content: center;
    }

    .navigation__link {
        margin-left: 36px;
    }

    .not-only {
        padding-top: 60px;
    }

    .not-only__wrapper {
        flex-direction: column;
    }

    .not-only__content {
        padding: 0 54px 0 55px;
    }

    .not-only__title {
        padding-right: 150px;
    }

    .not-only__content {
        padding-bottom: 100px;
    }

    .not-only__button {
        display: block;
        margin: 0 auto;
    }

    .not-only__img {
        position: relative;
        left: 90px;
    }


    .about__wrapper {
        padding: 80px 166px 100px 165px;
        flex-direction: column-reverse;
    }

    .about__content {
        padding: 0;
        padding-bottom: 80px;   
    }

    .about__image {
        padding-left: 0;
        margin: 0 auto;
    }



    .our-friends__wrapper {
        padding: 80px 30px 100px 30px;
    }

    .our-friends__slider {
        gap: 12px;
    }

    .change-slide {
        display: inline-flex;
    }

    .slides-content {
        display: inline-flex;
        overflow: hidden;
        justify-content: space-between;
        width: 84%;
        gap: 40px;
    }



    .help__wrapper {
        padding-left: 69px;
        padding-right: 69px;
    }

    .pet-items__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: space-between;
        min-height: 449px;
    }

    .pet-items__item {
        width: 170px;
    }



    .in-addittion__wrapper {
        flex-direction: column-reverse;
        padding: 80px 132px 100px 131px;
    }

    .in-addition__content {
        padding: 0 62px 60px 63px;
    }

    .in-addition__img {
        padding: 0;
    }

    .footer__wrapper {
        padding: 30px 64px 0 64px;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__column {
        padding-top: 0px;
    }

    .footer__img {
        margin: 0 auto;
        padding-top: 65px;
    }
}
