h1, h2, p {
  margin: 0;
}

@font-face {
  font-family: "Arial";
  src: url("Arial-Black.woff2") format("woff2"), url("Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-BoldMT.woff2") format("woff2"), url("Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-Italic.woff2") format("woff2"), url("ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-ItalicMT.woff2") format("woff2"), url("Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-BoldItalicMT.woff2") format("woff2"), url("Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-Bold.woff2") format("woff2"), url("ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow.woff2") format("woff2"), url("ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-BoldItalic.woff2") format("woff2"), url("ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("ArialMT.woff2") format("woff2"), url("ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia.woff2") format("woff2"), url("Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Italic.woff2") format("woff2"), url("Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Bold.woff2") format("woff2"), url("Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-BoldItalic.woff2") format("woff2"), url("Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.wrapper__intro {
  background: radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}

.button-bordered {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  box-sizing: border-box;
}

.button-colored {
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
}

/* Header */
.header {
  padding-top: 30px;
  background-image: url(../img/noise.png);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
}
.logo__title {
  color: #F1CDB3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.logo__subtitle {
  display: flex;
  color: #FFFFFF;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  align-self: center;
}

.logo__link {
  text-decoration: none;
}

.navigation {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navigation__link {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}
.navigation__link :hover {
  cursor: pointer;
  color: #FAFAFA;
  transition: all 1s;
}
.navigation__link:first-child {
  margin-left: 0;
  border-bottom: #F1CDB3 3px solid;
}
.navigation__link a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  text-decoration: none;
}

/* Not only */
.not-only__wrapper {
  display: flex;
}

.not-only {
  background-image: url(../img/noise.png);
  padding-top: 90px;
  margin: 0 auto;
}

.not-only__content {
  padding-right: 42px;
  padding-top: 163px;
}

.not-only__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  margin-bottom: 42px;
  color: #FFFFFF;
  padding-right: 150px;
}

.not-only__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  margin-bottom: 42px;
}

.not-only__button {
  padding: 15px 45px;
}
.not-only__button a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.not-only__button:hover {
  cursor: pointer;
  background: #FDDCC4;
  transition: all 1s;
}

/* About */
.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 100px;
}

.about__image {
  padding-left: 175px;
}

.about__content {
  max-width: 430px;
  padding: 14px 175px 14px 0;
}

.about__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  padding-right: 80px;
  color: #545454;
  padding-bottom: 25px;
  letter-spacing: 0.06em;
}

.about__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.about__text-first {
  padding-bottom: 25px;
}

/* Our friends */
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1090px);
  }
}
@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1090px);
  }
}
.translate-left {
  animation: slide-left 1s linear forwards;
}

.translate-right {
  animation: slide-right 1s linear forwards;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.our-friends__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.change-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin-top: 192px;
}
.change-slide:hover {
  cursor: pointer;
  background: #FDDCC4;
  transition: all 1s;
}

.ico__arrow {
  width: 14px;
  height: 6px;
}

.slider-viewbox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 990px;
}

.slides-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  left: 0;
  width: max-content;
  transition: all 0.4s;
}

.slides {
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.pet-card {
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
}
.pet-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.49);
  transition: all 0.5s;
}
.pet-card:hover .pet-card__button {
  cursor: pointer;
  background: #FDDCC4;
  transition: all 1s;
}

.pet-card__img {
  width: 270px;
  height: 270px;
}

.pet-card__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.pet-card__button {
  display: block;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  background-color: #FAFAFA;
  color: #292929;
  padding: 14px 43px;
  margin: 0 auto;
}

.our-friends__button {
  padding: 15px 45px;
  display: block;
  margin: 0 auto;
}
.our-friends__button a {
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-friends__button:hover {
  cursor: pointer;
  background: #FDDCC4;
  transition: all 1s;
}

/* Help */
.help__wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
}

.help__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  padding-bottom: 60px;
}

.pet-items__content {
  max-width: 1026px;
  height: 281px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 119px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
}

.second-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 84%;
}

.pet-items__item {
  text-align: center;
}

.pet-items__img {
  width: 60px;
  height: 60px;
}

.pet-items__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 26px;
}

/* In addittion*/
.in-addition {
  background-color: #F6F6F6;
}

.in-addittion__wrapper {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 80px 182px 100px 183px;
  display: flex;
}

.in-addition__img {
  padding-top: 11px;
  padding-bottom: 10px;
}

.in-addition__content {
  padding-left: 30px;
}

.in-addition__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
}

.in-addition__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 20px;
}

.in-addition__card {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  margin-right: 31px;
}
.in-addition__card:hover {
  cursor: pointer;
}

.in-addition__card-number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__warning {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  padding-top: 20px;
}

/* Footer */
.footer {
  background-image: url(../img/noise.png);
}

.footer__wrapper {
  padding-top: 40px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  padding-top: 16px;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.column__line {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}

.email, .phone {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  align-self: center;
}

.footer__contacts {
  width: 278px;
}

.footer__contacts-mail {
  padding-right: 27px;
}

.footer__contacts-phone {
  padding-right: 39px;
}

.footer__addresses {
  max-width: 302px;
}

.location {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 20px;
  align-self: center;
}

.footer__address {
  padding-top: 34px;
  justify-content: flex-start;
}

.pets__header {
  background: #FFFFFF;
  padding-bottom: 30px;
}

.pets__logo__title {
  color: #545454;
}

.pets__logo__subtitle {
  color: #292929;
}

.pets__navigation__link a {
  color: #545454;
}
.pets__navigation__link a:hover {
  color: #292929;
}

.pets__navigation__link:first-child {
  border-bottom: none;
}

.pets__navigation__link-active {
  border-bottom: #F1CDB3 3px solid;
  color: #292929;
}

.pets__slider {
  padding-bottom: 60px;
}

.pets__slides-content {
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.pets__slides-bar {
  justify-content: space-between;
  max-width: 340px;
  margin: 0 auto;
  display: flex;
}

.first, .one-prev, .now, .one-next, .last {
  margin-top: 0;
}

.now {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #292929;
  align-items: center;
  background: #F1CDB3;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
  z-index: 4;
}

@media screen and (max-width: 1268px) {
  .wrapper {
    padding: 0 100px;
  }
  .header__wrapper {
    padding: 0 30px;
  }
  .logo__subtitle {
    justify-content: center;
  }
  .navigation__link {
    margin-left: 36px;
  }
  .not-only {
    padding-top: 60px;
  }
  .not-only__wrapper {
    flex-direction: column;
  }
  .not-only__content {
    padding: 0 54px 0 55px;
  }
  .not-only__title {
    padding-right: 150px;
  }
  .not-only__content {
    padding-bottom: 100px;
  }
  .not-only__button {
    display: block;
    margin: 0 auto;
  }
  .not-only__img {
    position: relative;
    left: 90px;
  }
  .about__wrapper {
    padding: 80px 166px 100px 165px;
    flex-direction: column-reverse;
  }
  .about__content {
    padding: 0;
    padding-bottom: 80px;
    margin: 0 auto;
  }
  .about__image {
    padding-left: 0;
    margin: 0 auto;
  }
  .our-friends__wrapper {
    padding: 80px 30px 100px 30px;
  }
  .our-friends__slider {
    gap: 12px;
  }
  .change-slide {
    display: inline-flex;
  }
  .slides-content {
    display: inline-flex;
    overflow: hidden;
    justify-content: space-between;
    width: 84%;
    gap: 40px;
  }
  .help__wrapper {
    padding-left: 69px;
    padding-right: 69px;
  }
  .pet-items__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-between;
    min-height: 449px;
  }
  .pet-items__item {
    width: 170px;
  }
  .in-addittion__wrapper {
    flex-direction: column-reverse;
    padding: 80px 132px 100px 131px;
  }
  .in-addition__content {
    padding: 0 62px 60px 63px;
  }
  .in-addition__card {
    max-width: 349px;
  }
  .in-addition__img {
    padding: 0;
  }
  .footer__wrapper {
    padding: 30px 64px 0 64px;
  }
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__column {
    padding-top: 0px;
  }
  .footer__img {
    margin: 0 auto;
    padding-top: 65px;
  }
  .pets__title {
    padding-bottom: 30px;
  }
  .pets__slider {
    justify-content: center;
    padding-bottom: 30px;
    max-height: 1374px;
  }
  .pets__slides-content {
    gap: 31px;
  }
  .pets__friends-wrapper {
    padding-bottom: 76px;
  }
}
@media screen and (max-width: 1106px) {
  .slides-content {
    max-width: 582px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 10px 0 10px;
  }
  .header__wrapper {
    padding: 0 20px;
  }
  .header__navigation {
    display: none;
  }
  .hamburger {
    display: inline-block;
    top: 19px;
    transition: all 1s;
  }
  .hamburger::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
  }
  .hamburger::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
    top: calc(100% - 3px);
    left: 0;
  }
  .hamburger__line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    left: 0;
  }
  .not-only__content {
    padding: 0;
    padding-bottom: 105px;
  }
  .not-only__title {
    padding-left: 34px;
    padding-right: 35px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .not-only__text {
    text-align: center;
  }
  .not-only__img {
    left: 40px;
    width: 260px;
  }
  .about__wrapper {
    padding: 42px 25px;
  }
  .about__content {
    padding-bottom: 42px;
  }
  .about__title {
    font-size: 25px;
    line-height: 32px;
    padding: 0;
    padding-bottom: 25px;
    text-align: center;
  }
  .about__text {
    text-align: justify;
  }
  .about__text-first {
    padding-bottom: 22px;
  }
  .about__image {
    width: 260px;
  }
  .our-friends__wrapper {
    padding-bottom: 42px;
  }
  .our-friends__title {
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 25px;
    line-height: 32px;
  }
  .our-friends__slider {
    width: 270px;
    margin: 0 auto;
    flex-flow: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 20px;
    padding-bottom: 42px;
  }
  .slides-content {
    order: 0;
    width: 270px;
  }
  .change-slide {
    margin-top: 0;
  }
  .prev-slide {
    order: 1;
  }
  .next-slide {
    order: 2;
  }
  .pet-card {
    width: 100%;
  }
  .help__wrapper {
    margin: 0;
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .help__title {
    padding: 0 34px;
    font-size: 25px;
    line-height: 32px;
    padding-bottom: 42px;
  }
  .pet-items__item {
    width: 130px;
    height: 87px;
  }
  .pet-items__img {
    width: 50px;
    height: 50px;
  }
  .pet-items__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    padding-top: 16px;
  }
  .pet-items__content {
    row-gap: 30px;
    min-height: 555px;
    padding-bottom: 42px;
  }
  .in-addition__title {
    padding-top: 42px;
    font-size: 25px;
    line-height: 32px;
  }
  .in-addition__content {
    padding: 0;
    text-align: center;
  }
  .in-addition__text {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .in-addition__card {
    margin-right: 9px;
    margin-left: 9px;
    max-width: 349px;
    margin: 0 auto;
  }
  .in-addition__card-number {
    font-size: 15px;
    line-height: 17px;
    align-self: center;
  }
  .in-addition__warning {
    text-align: justify;
    padding: 20px 10px 42px 10px;
    max-width: 380px;
    margin: 0 auto;
  }
  .in-addition__img {
    width: 260px;
    height: 135.2px;
    margin: 0 auto;
    padding-bottom: 42px;
  }
  .footer__wrapper {
    padding: 30px 10px 0px 10px;
  }
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .footer__content {
    justify-content: center;
    row-gap: 40px;
  }
  .footer__contacts-mail {
    padding-right: 0;
    max-width: 251px;
    margin: 0 auto;
  }
  .footer__contacts-phone {
    padding-right: 0;
    max-width: 239px;
    margin: 0 auto;
  }
  .footer__addresses-title {
    padding: 0px 15px;
  }
  .footer__address {
    padding-top: 40px;
  }
  .footer__img {
    padding-top: 0;
    width: 260px;
    height: 269px;
  }
  .pets-hamburger__line {
    background-color: #000000;
  }
  .pets-hamburger::after {
    background-color: #000000;
  }
  .pets-hamburger::before {
    background-color: #000000;
  }
  .pets__slider {
    max-height: 1365px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .pets__slides-bar {
    padding-top: 42px;
  }
}
@media screen and (max-width: 320px) {
  .in-addition__card {
    margin-right: 9px;
    margin-left: 9px;
  }
}
.show {
  right: 0;
}

.scroll-lock {
  overflow: hidden;
}

.substrate {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000000;
  opacity: 0.7;
}

.substrate-show {
  display: block;
}

aside {
  background: #292929;
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  z-index: 3;
  transition: all 1s;
  overflow: hidden;
}

.aside__navigation {
  width: 100%;
  gap: 62px;
  flex-direction: column;
  padding-top: 234px;
  gap: 40px;
  align-items: center;
}

.aside__link {
  font-size: 32px;
  line-height: 51px;
  color: #FAFAFA;
  margin-left: 0;
}
.aside__link a {
  font-size: 32px;
  line-height: 51px;
  color: #FAFAFA;
}

.burger_flip {
  transform: rotate(90deg);
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  transition: all 0.4s;
}

.pets-description__item {
  position: absolute;
  width: 900px;
  max-width: 70%;
  background-color: #fff;
  height: 500px;
  border-radius: 9px;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-areas: "pets-description__img pets-description__figc";
  gap: 30px;
  transition: all 0.4s;
}

.pets-description__text {
  font-family: Georgia;
  font-size: var(--fs-normal);
  letter-spacing: 0.06em;
  margin: 40px 0;
  max-width: 350px;
  color: #000;
}

.hide {
  display: none;
}

.popUp__img {
  width: 100%;
}

figcaption {
  padding-top: 50px;
}

.common-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #000000;
}

.common-subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #000000;
}

.pets-description__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* or 17px */
  letter-spacing: 0.06em;
  color: #000000;
}

.popUp__list {
  padding-left: 16px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* or 17px */
  letter-spacing: 0.06em;
  color: #000000;
}
.popUp__list li {
  padding-bottom: 11px;
}

.popUp__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -44px;
  top: -52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: none;
  width: 52px;
  height: 52px;
}
.popUp__button:hover .popUp__cross {
  transform: rotate(360deg);
  transition: all 1s;
}

/*# sourceMappingURL=style.css.map */
